= form_for :post, url: posts_path do |f|
	- if @post.errors.any?
		#errors
			- @post.errors.each do |err, msg|
				%p= "#{err} #{msg}"
	%p
		= f.label :title
		= f.text_field :title
	%p
		= f.label :body
		= f.text_area :body
	%p
		= f.submit 'Save'