= form_for :post, url: posts_path do |f|
	%p
		.label
			= f.label :title
			.errors= @post.errors.messages[:title][0]
		= f.text_field :title
	%p
		.label
			= f.label :body
			.errors= @post.errors.messages[:body][0]
		= f.text_area :body
	%p
		= f.submit 'Save'