= form_for @post do |f|
	%p
		.label
			= f.label :title
			.errors= @post.errors.messages[:title][0]
		= f.text_field :title
	%p
		.label
			= f.label :body
			.errors= @post.errors.messages[:body][0]
		= f.text_area :body
	%p
		= f.submit 'Save'
		= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'submit'